.homepage.aboutpage {

  h2 {
    padding: 40px 0 35px;
    margin: 0;
  }

  p {
    margin-bottom: 30px;
  }

  .marginbottom {
    margin-bottom: 60px;
  }

  .img-bottom {
    width: 100%;
    float: left;
  }

}
