.noPaddingRight{
    padding-right: 0!important;
}
.paddingLeft5{
    padding-left: 5px!important;
}
.productDetail {
    padding-top: 50px;
    padding-bottom: 25px;
    .flex-viewport{
        margin-left: 12px;
    }
    .slider-imge {
        .slick-slide {
            border: none !important;
            margin-bottom: 9px;
            img {
                border: 7px solid #F5DB6B;
                &.flex-active{
                    border-color: #fd8204;
                }
            }
        }
    }

    #carousel-custom {
        .carousel-inner {
        	position: relative;
        	width: 100%;
        	min-height: 300px;
        }
        .carousel-control.right {
        	right: 0;
        	left: auto;
        	background-image: none !important;
        	background-repeat: repeat-x;
        }
        .carousel-control.left {
        	left: 0;
        	right: auto;
        	background-image: none !important;
        	background-repeat: repeat-x;
        }
        .carousel-indicators {
        	margin: 0 0;
        	overflow: auto;
        	position: static;
        	text-align: left;
        	white-space: nowrap;
        	width: 100%;
        	overflow: hidden;
            li {
            	background-color: transparent;
            	-webkit-border-radius: 0;
            	border-radius: 0;
            	display: unset;
            	height: auto!important;
            	margin: 0 !important;
            	width: auto!important;
                border: none!important;
                margin-bottom: 9px!important;
                display: block;
                img {
                   display: block;
                   border: 7px solid #F5DB6B!important;
               }
               &.active {
                   img {
                       border-color: #f06902!important;
                   }
               }
               &:hover img {
               	opacity: 0.75;
               }
            }
        }
    }
    #carousel-example-generic {
    	margin: 20px auto;
    	width: 100%;
    }
    #carousel-custom .carousel-outer {
    	position: relative;
    }
    div#carousel-custom {
    	margin: 0 0 50px;
    }
    /* Left Column */
    .left_img img {
    	transition: all 0.3s ease;
    }
    .left_img img.current {
    	display: block !important
    }
    /* Product Color */
    .product-color {
    	margin-bottom: 30px;
    }
    .color-choose > div {
    	display: inline-block;
    }
    .color-choose input[type="radio"] {
    	display: none;
    }
    .color-choose input[type="radio"] + label span {
    	display: inline-block;
    	width: 40px;
    	height: 40px;
    	margin: -1px 4px 0 0;
    	vertical-align: middle;
    	cursor: pointer;
    	border-radius: 50%;
    }
    .color-choose input[type="radio"] + label span {
    	border: 2px solid #FFFFFF;
    	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    }
    .color-choose input[type="radio"]#black + label span {
    	background-color: #151515;
    }
    .color-choose input[type="radio"]#white + label span {
    	background-color: #fff;
    }
    .color-choose input[type="radio"]#yellow + label span {
    	background-color: #003CFF;
    }
    .color-choose input[type="radio"]:checked + label span {
    	background-image: url(../img/check-icn.svg);
    	background-repeat: no-repeat;
    	background-position: center;
    }
    .btn-cart {
    	font-size: 18px;
    	color: #fff;
    	border-radius: 0;
    	background: #f06902;
    	padding: 17px 120px;
    	display: inline-block;
    	margin-bottom: 20px;
    }
    .detailTitle {
        @include GothamBold(38px);
        color: #ff8300;
        text-align: center;
        padding-bottom: 15px;
    }
    ul.categoryName {
        margin-bottom: 45px;
        text-align: center;
        li {
            padding: 0 20px;
            display: inline-block;
            a {
                @include GothamBook(21px);
                color: #ff8300;
            }
        }
    }

    .product-information {
        width: 98%;
        padding-top: 59px;
        h2{
            font-size: 21px;
            margin-bottom: 33px;
            span {
                font-size: 21px;
            }
        }
        span {
            font-size: 13px;
        }
        .cd-item-select {
            width: 65%;
            margin-bottom: 30px;
            select{
                font-size: 13px;
            }
        }
        .cd-item-action {
            margin-bottom: 27px;
            li{
                width: 65%;
            }
        }
        .cd-item-description {
            .item-title, p {
                font-size: 13px;
            }
            .item-title {
                padding-bottom: 15px;
            }
        }
    }
}
.relatedProduct {
    float: left;
    width: 100%;
    h3, h2 {
        color: #ff8300;
        @include GothamBold(13px);
        padding-bottom: 13px;
    }
    ul {
        li {
            display: inline-block;
            margin-right: 25px;
            padding: 0;
        }
    }
}

.borderLine {
    width: 100%;
    border: 1px solid #ccc;
    margin: 65px auto 30px;
    float: left;
    margin: 65px auto 30px;
    &:after{
        content: '';
        clear: both;
    }
}
.woocommerce  {
    div.product {
        .entry-summary {
            .product_title {
                font-family: 'GothamBold', cursive;
                color: #fd8204;
                line-height: 1.1;
                font-weight: normal;
                text-align: left;
                font-size: 21px;
                margin-bottom: 33px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            p.price{
                @include GothamBook(21px);
                color: #fd8204;
                margin-bottom: 15px;
            }
            p {
                color: #999999;
                font-family: 'GothamLight', cursive;
                font-size: 15px;
                line-height: 1.1;
                font-weight: normal;
                margin: 0;
                margin-bottom: 15px;
            }
            .item-title {
                font-family: 'GothamBold', cursive;
                font-size: 13px;
                line-height: 1.1;
                font-weight: normal;
                color: #999;
                padding-bottom: 13px;
            }
            ul {
                li {
                    font-family: 'GothamLight', cursive;
                    font-size: 15px;
                }
            }
        }
        .product_meta {
            margin-bottom: 15px;
            span {
                font-family: 'GothamBold', cursive;
                font-size: 15px;
                line-height: 1.1;
                font-weight: normal;
                color: #fd8204;
                padding-bottom: 5px;
                &.sku_wrapper{
                    display: block;
                    width: 100%;
                }
                span{
                    font-family: 'GothamBook', cursive;
                }
                &.posted_in{
                    a {
                        font-family: 'GothamBook', cursive;
                        color: #fd8204;
                    }
                }
            }
        }
        form.cart {
            &.variations_form {
                margin-top: 15px;
            }
            .variations {
                    width: 217px;
                    margin-bottom: 0;
                label {
                    font-family: 'GothamBold', cursive;
                    font-size: 15px;
                    line-height: 1.1;
                    font-weight: normal;
                    color: #fd8204;
                    padding-bottom: 5px;
                }
            }
            select {
                padding: 6px 13px;
                width: 100%;
                border: 1px solid #d5d5d3;
                font-family: 'GothamBook', Arial, sans-serif;
                font-size: 15px;
                line-height: 1.2;
                font-weight: normal;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin-bottom: 15px;
                outline: none;
                background: url("../images/arrow-select.png") no-repeat 96% center;
            }
            .label-quantity{
                font-family: 'GothamBold', cursive;
                font-size: 15px;
                line-height: 1.1;
                font-weight: normal;
                color: #fd8204;
                padding-bottom: 5px;
            }
            .qty {
                padding: 6px 13px;
                width: 100%;
                border: 1px solid #d5d5d3;
                text-align: left;
                font-family: 'GothamBook', Arial, sans-serif;
                font-size: 15px;
                line-height: 1.2;
                font-weight: normal;
            }
            div.quantity{
                width: 217px;
                margin-bottom: 30px;
                display: block;
                float: none;
            }
            button[type="submit"].single_add_to_cart_button {
                background: #fd8204;
                color: #fff;
                font-family: 'GothamBook', Arial, sans-serif;
                font-size: 15px;
                line-height: 1.2;
                font-weight: normal;
                width: 217px;
                text-align: left;
                border-radius: 0;
            }
        }
    }

}
